.station-select-field {
  width: 100%;

  .search-option {
    padding: 0 8px;
    height: auto !important;
    pointer-events: none;

    .search-field {
      width: 100%;
      pointer-events: all;
    }
  }
}
