<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Acesso ao Sistema</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input matInput name="user" [(ngModel)]="user" placeholder="Digite seu usuário" required #userInput="ngModel">
          @if (userInput.invalid && (userInput.dirty || userInput.touched)) {
            <mat-error>Usuário é obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Digite sua senha" required #passwordInput="ngModel">
          @if (passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) {
            <mat-error>Senha é obrigatória</mat-error>
          }
        </mat-form-field>

        @if (error) {
          <div class="login-error">{{error}}</div>
        }

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading">
            {{ loading ? 'AGUARDE...' : 'ACESSAR' }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
